.carbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
  .bag{
    width: 20%;
    height: 100%;
  }
  .join{
    width:40%;
    height: 100%;
  }
  .buy{
    width: 40%;
    height: 100%;
  }
}