/* 设置iconfont标签font-family */ 
[class^="icon-"],[class*=" icon-"] {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
